body { background: #6bd2bd; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 37px; display: flex; }
.block-auth-0 { color: #f82db1; font-size: 18px; margin-bottom: 5px; }
.block-payment-1 { color: #4bad03; font-size: 20px; margin-bottom: 5px; }
.block-cart-2 { color: #5daa77; font-size: 13px; margin-bottom: 5px; }
.block-order-3 { color: #bc695c; font-size: 13px; margin-bottom: 5px; }
.block-payment-4 { color: #99af3a; font-size: 14px; margin-bottom: 5px; }
.block-search-5 { color: #8699f; font-size: 16px; margin-bottom: 5px; }
.block-helper-6 { color: #b6e88c; font-size: 17px; margin-bottom: 5px; }
.block-metrics-7 { color: #cdabec; font-size: 21px; margin-bottom: 5px; }
.block-session-8 { color: #e0f200; font-size: 14px; margin-bottom: 5px; }